@using X39.UnitedTacticalForces.WebApp.Services.EventRepository
@using X39.UnitedTacticalForces.WebApp.Services.UserRepository
@using X39.UnitedTacticalForces.WebApp.Services.ModPackRepository
@using X39.UnitedTacticalForces.WebApp.Services.TerrainRepository
@page "/events"
@inject IEventRepository EventRepository
@inject IUserRepository UserRepository
@inject IModPackRepository ModPackRepository
@inject ITerrainRepository TerrainRepository
@inject IStringLocalizer<Language> Localizer
@inject IDialogService DialogService
@inject BaseUrl BaseUrl
@inject ISnackbar Snackbar
@inject IJSRuntime JsRuntime
@attribute [Authorize]
<PageTitle>@Localizer[nameof(Language.Pages_Events_Title)]</PageTitle>
<MudTable @ref="_mudTable"
          Dense="true"
          ServerData="ServerDataAsync"
          RowsPerPage="50"
          Virtualize="true"
          Height="@Breakpoint.ToFullPageTableHeight()"
          FixedFooter="true"
          FixedHeader="true">
    <ColGroup>
        <col style="width: 0"/>
        <col style="width: 0"/>
        <col/>
        <col style="width: 0"/>
        <col style="width: 0"/>
        <col style="width: 0"/>
    </ColGroup>
    <ToolBarContent>
        <MudText Typo="Typo.h6">
            @if (_onlyHostedByMe)
            {
                @Localizer[nameof(Language.Pages_Events_MyEvents)]
            }
            else
            {
                @Localizer[nameof(Language.Pages_Events_AllEvents)]
            }
        </MudText>
        <MudSpacer/>
        <MudTooltip Text="@Localizer[nameof(Language.Pages_Events_MyEventsOnly_ToolTip)]">
            <MudToggleIconButton
                Icon="@Icons.Material.Filled.PersonOff"
                ToggledIcon="@Icons.Material.Filled.Person"
                @bind-Toggled="@OnlyHostedByMe"/>
        </MudTooltip>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>@Localizer[nameof(Language.Pages_Events_Table_HostedBy)]</MudTh>
        <MudTh>@Localizer[nameof(Language.Pages_Events_Table_ScheduledFor)]</MudTh>
        <MudTh>@Localizer[nameof(Language.Pages_Events_Table_Title)]</MudTh>
        <MudTh>@Localizer[nameof(Language.Pages_Events_Table_Terrain)]</MudTh>
        <MudTh>@Localizer[nameof(Language.Pages_Events_Table_ModPack)]</MudTh>
        <MudTh>@Localizer[nameof(Language.Pages_Events_Table_Interactions)]</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="@Localizer[nameof(Language.Pages_Events_Table_HostedBy)]">
            <UtfUser Style="white-space: nowrap;" User="@context.HostedBy"/>
        </MudTd>
        <MudTd DataLabel="@Localizer[nameof(Language.Pages_Events_Table_ScheduledFor)]">
            <div style="white-space: nowrap" class="d-inline-flex align-center gap-1">
                @if (context.ScheduledFor?.ToLocalTime() < DateTime.Today)
                {
                    <MudTooltip>
                        <TooltipContent>
                            <MudText>@Localizer[nameof(Language.Pages_Events_Table_ScheduledFor_EventAlreadyOccured)]</MudText>
                        </TooltipContent>
                        <ChildContent>
                            <MudIcon Icon="@Icons.Material.Filled.WatchLater" Color="Color.Warning"/>
                        </ChildContent>
                    </MudTooltip>
                }
                @(context.ScheduledFor?.ToLocalTime().ToString("g"))
            </div>
        </MudTd>
        <MudTd DataLabel="@Localizer[nameof(Language.Pages_Events_Table_Title)]">
            @context.Title
        </MudTd>
        <MudTd DataLabel="@Localizer[nameof(Language.Pages_Events_Table_Terrain)]">
            @if (context.Terrain is not null)
            {
                <div style="white-space: nowrap">
                    <MudText>@(context.Terrain.Title)</MudText>
                </div>
            }
        </MudTd>
        <MudTd DataLabel="@Localizer[nameof(Language.Pages_Events_Table_ModPack)]">
            @if (context.ModPackRevision is not null)
            {
                <div class="d-inline-flex align-center" style="white-space: nowrap">
                    <MudText>@(context.ModPackRevision?.Definition?.Title)</MudText>
                    <UtfModPackDownloadButton ModPack="@(context.ModPackRevision.Definition)"
                                               Revision="@(context.ModPackRevision)"/>
                </div>
            }
        </MudTd>
        <MudTd DataLabel="@Localizer[nameof(Language.Pages_Events_Table_Interactions)]">
            <MudButtonGroup>
                <UpcommingEvents_HeaderActions_ModifyButton Event="context" ParentStateHasChanged="PropagateStateHasChanged"/>
                <UpcommingEvents_HeaderActions_CloneButton Event="context"/>
                <MudIconButton Icon="@Icons.Material.Filled.Link" Color="Color.Primary" OnClick="@(() => CopyEventUrlToClipboardAsync(context))"/>
                <MudButton StartIcon="@Icons.Material.Filled.KeyboardCapslock" Href="@($"/events/{context.PrimaryKey}")" Color="Color.Primary">
                    @Localizer[nameof(Language.Pages_Events_EventCard_Slots)]
                </MudButton>
            </MudButtonGroup>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="@(new[] {50, 100, 250, 500})"/>
    </PagerContent>
    <FooterContent>
        <MudTd Style="text-align: right" UserAttributes="@(new Dictionary<string, object> {{"colspan", "6"}})">
            <AuthorizeView Roles="@string.Join(",", Claims.Admin, Claims.EventCreate)" Context="_">
                <MudButton StartIcon="@Icons.Material.Filled.Add" Color="Color.Success" OnClick="CreateNewEventAsync">
                    @Localizer[nameof(Language.Pages_Events_CreateNewEvent)]
                </MudButton>
            </AuthorizeView>
        </MudTd>
    </FooterContent>
</MudTable>

@code {

    private bool _onlyHostedByMe;

    [CascadingParameter]
    public Breakpoint Breakpoint { get; private set; } = Breakpoint.Always;

    private bool OnlyHostedByMe
    {
        get => _onlyHostedByMe;
        set
        {
            _onlyHostedByMe = value;
            _ = _mudTable.ReloadServerData()
                .ConfigureAwait(false);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(10);
    }

    private long _eventCounts = -1;
    private MudTable<Event> _mudTable = null!;
    private readonly Dictionary<Guid, User> _users = new();
    private readonly Dictionary<long, ModPackRevision> _modPacks = new();
    private readonly Dictionary<long, Terrain> _terrains = new();

    private async Task<TableData<Event>> ServerDataAsync(TableState arg)
    {
        if (_eventCounts == -1)
            _eventCounts = await EventRepository.GetEventCountAsync(OnlyHostedByMe)
                .ConfigureAwait(false);
        var items = await EventRepository.GetEventsAsync(
            arg.Page * arg.PageSize, arg.PageSize, OnlyHostedByMe)
            .ConfigureAwait(false);
        foreach (var eventItem in items)
        {
            if (eventItem.OwnerFk is not null)
            {
                var ownerFk = eventItem.OwnerFk.Value;
                if (!_users.TryGetValue(ownerFk, out var user))
                {
                    var tmp = await UserRepository.GetUserAsync(ownerFk, CancellationToken.None)
                        .ConfigureAwait(false);
                    if (tmp is null)
                        continue;
                    _users[ownerFk] = user = tmp;
                }
                eventItem.Owner = user;
            }
            if (eventItem.HostedByFk is not null)
            {
                var hostedByFk = eventItem.HostedByFk.Value;
                if (!_users.TryGetValue(hostedByFk, out var user))
                {
                    var tmp = await UserRepository.GetUserAsync(hostedByFk, CancellationToken.None)
                        .ConfigureAwait(false);
                    if (tmp is null)
                        continue;
                    _users[hostedByFk] = user = tmp;
                }
                eventItem.HostedBy = user;
            }
            if (eventItem.ModPackRevisionFk is not null)
            {
                var modPackRevisionFk = eventItem.ModPackRevisionFk.Value;
                if (!_modPacks.TryGetValue(modPackRevisionFk, out var modPack))
                {
                    var tmp = await ModPackRepository.GetModPackRevisionAsync(modPackRevisionFk, CancellationToken.None)
                        .ConfigureAwait(false);
                    if (tmp is null)
                        continue;
                    _modPacks[modPackRevisionFk] = modPack = tmp;
                }
                eventItem.ModPackRevision = modPack;
            }
            if (eventItem.TerrainFk is not null)
            {
                var terrainFk = eventItem.TerrainFk.Value;
                if (!_terrains.TryGetValue(terrainFk, out var terrain))
                {
                    var tmp = await TerrainRepository.GetTerrainAsync(terrainFk, CancellationToken.None)
                        .ConfigureAwait(false);
                    if (tmp is null)
                        continue;
                    _terrains[terrainFk] = terrain = tmp;
                }
                eventItem.Terrain = terrain;
            }
        }
        return new TableData<Event>
        {
            TotalItems = (int) _eventCounts,
            Items = items,
        };
    }

    private async Task CreateNewEventAsync()
    {
        var eventItem = await Dialogs.ModifyEventDialog.ShowAsync(DialogService)
            .ConfigureAwait(false);
        if (eventItem is null)
            return;
        await EventRepository.CreateEventAsync(eventItem)
            .ConfigureAwait(false);
        await _mudTable.ReloadServerData()
            .ConfigureAwait(false);
    }

    private async Task PropagateStateHasChanged()
    {
        await InvokeAsync(StateHasChanged)
            .ConfigureAwait(false);
    }

    private async Task CopyEventUrlToClipboardAsync(Event eventItem)
    {
        var url = BaseUrl.ResolveSelfUrl($"/events/{eventItem.PrimaryKey}");
        await JsRuntime.InvokeVoidAsync("navigator.clipboard.writeText", url)
            .ConfigureAwait(false);
        Snackbar.Add(Localizer[nameof(Language.Common_CopiedToClipboard)]);
    }

}