@using System.ComponentModel.DataAnnotations
@using X39.UnitedTacticalForces.WebApp.Api.Models

<div class="d-flex gap-2 align-center align-self-center @Class" style="@Style">
    @if (User is not null)
    {
        @if (User.Avatar is not null && User.Avatar.Length is not 0)
        {
            <MudAvatar Class="align-self-center" Image="@User.ToImageSource()"/>
        }
        <MudText Class="align-self-center">@User.Nickname</MudText>
    }
    @if (PlainUser is not null)
    {
        @if (PlainUser.Avatar is not null && PlainUser.Avatar.Length is not 0)
        {
            <MudAvatar Class="align-self-center" Image="@PlainUser.ToImageSource()"/>
        }
        <MudText Class="align-self-center">@PlainUser.Nickname</MudText>
    }
</div>

@code {

    [Parameter]
    public string Class { get; set; } = string.Empty;

    [Parameter]
    public string Style { get; set; } = string.Empty;

    [Parameter]
    public UserDto? User { get; set; } = null!;
    [Parameter]
    public PlainUserDto? PlainUser { get; set; } = null!;
}
